<script>
  import { ini_data, group_selected, group_data } from "./stores.js";
  let gs_sel = {};
  let frm_sel = {};
  let curs_sel = {};
  let curs_by_form = [];
  let gs_by_curs = [];
  let data = $ini_data;

  function on_gschange() {
    group_selected(gs_sel.GS_ID);
  }
  function on_frmchange() {
    curs_sel = "null";
    curs_by_form = frm_sel.arr;
  }
  function on_curschange() {
    gs_sel = "null";
    gs_by_curs = curs_sel.arr;
  }
</script>

<div class="menu">
  <block>
    <div class="box -1">
      <div class="select is-primary sel-wrapp">
        <select bind:value={frm_sel} on:change={on_frmchange} on:blur={null}>
          <option value="null" selected disabled>
            Выберите форму обучения
          </option>
          {#each data as item}
            <option value={item}>
              {item.FormEduName}
            </option>
          {/each}
        </select>
      </div>
    </div>
  </block>

  <block>
    <div class="box -2">
      <div class="select is-primary sel-wrapp">
        <select bind:value={curs_sel} on:change={on_curschange} on:blur={null}>
          <option value="null" selected disabled> Выберите курс </option>
          {#each curs_by_form as item}
            <option value={item}>
              {item.Curs + " курс"}
            </option>
          {/each}
        </select>
      </div>
    </div>
  </block>

  <block>
    <div class="box -3">
      <div class="select is-primary sel-wrapp">
        <select bind:value={gs_sel} on:change={on_gschange} on:blur={null}>
          <option value="null" selected disabled> курс </option>
          {#each gs_by_curs as item}
            <option value={item}>
              {item.GSName}
            </option>
          {/each}
        </select>
      </div>
    </div>
  </block>
</div>

{#if $group_data.length}
  {#each $group_data as item}
    <div class="main">
      {item.Name}

      {#each item.Sched as ras}
        <div class="box">
          {ras.datePair}
          {ras.dayWeek}
          {#each ras.mainSchedule as obj}
          <div class = "apa">
            <li>{obj.TimeStart}</li> <li>{obj.SubjName}</li><li>{obj.LoadKindSN}</li><li>{obj.Aud}</li><li>{obj.FIO}</li>
          </div>
          {/each}
        </div>
      {/each}
    </div>
  {/each}
{/if}

<style>
  .main {
    height: 100%;
    display: grid;
    
   
  }

  .menu {
    display: grid;
    grid-template-areas: "block block block"
                                "apa";
    width: 100%;
    display: inline-grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: auto;
    border : 1px solid green;
  }

  block {
    margin-right: 10px;
  }
  .apa {
    display: grid;
   
    
    grid-template-areas: "block column block block ";
    
  }
  
</style>
