<script>
	import { list } from '../stores';
	import Fa from "svelte-fa";
	import { faPen } from "@fortawesome/free-solid-svg-icons";
	let checked = [];
	const removeFromList=(index) =>{
			$list.splice(index, 1);
			$list = $list;
    };
	const Cheked=(index) =>{
			$list[index].status = !$list[index].status;
    };
	const READY=() =>{
		checked.forEach(item => {
				$list[item].status = !$list[item].status;
			});
    };
	let num = 0;
	const Del=() =>{
		checked.forEach(index => {;
			index = index - num;
			$list.splice(index,1);
			num += 1;
			});
		$list = $list;	
		num = 0;
		checked = [];
    };
	let text = "";
	let modal = "modal";
	let indd = 0;
	const Update=(index) =>{
		indd = index
		text = $list[index].text;
		modal = "modal is-active";
    };
	const Close=() =>{
		modal = "modal";
    };
	const OK=() =>{
		$list[indd].text = text;
		modal = "modal";
    };
	function CloseKEY(event) {
		if (event.key == "Escape")
		{
			modal = "modal";
		}
	}
</script>

<button class="button"  on:click={() => READY()}>
	Ready
</button>
<button class="button"  on:click={() => Del()}>
	Delete
</button>
{#each $list as item,index}
	{@const d = item.date.toLocaleString().split(', ')}
	<div class ="box">
		<input class="checkbox" bind:group={checked} value={index} type="checkbox">
  		<span class="text2" class:checked={item.status} on:click = {() => Cheked(index)}>
			<div>
				<div>{d[0]}</div>
				<div>{d[1]}</div>
			</div>
		</span>
  		<span class="text" class:checked={item.status} on:click = {() => Cheked(index)}>{item.text} </span>
		<button class="button is-ghost" on:click= {() => Update(index)}>
			<Fa icon={faPen} color="white" />
		</button>
		
		<span class="delete"  on:click={() => removeFromList(index)}></span>
	</div>	
{/each}
<svelte:window on:keydown={CloseKEY}/>
<div class="{modal}" >
	<div class="modal-background" on:click= {() => Close()}></div>
	<div class="modal-card">``
	  <header class="modal-card-head">
		<p class="modal-card-title">Редактирование</p>
		<button class="delete" on:click= {() => Close()} aria-label="close"></button>
	  </header>
	  <section class="modal-card-body">
		<input class="input" bind:value={text}>
	  </section>
	  <footer class="modal-card-foot">
		<button class="button is-success" on:click= {() => OK()}>OK</button>
		<button class="button" on:click= {() => Close()}>Отмена</button>
	  </footer>
	</div>
</div>

<style> 
	.button.is-ghost
	{		
		height:40px;
		width:30px;
		line-height:40px;
  		margin-left:  5px;
		margin-right:  5px;
		text-align:center;
		justify-content: space-between;
	}
	.button
	{
		margin-bottom:  5px;
		margin-right: 5px;
  		margin-left:  5px;
	}
	.checkbox
	{
		margin-right: 10px;

	}
	.checked {
        text-decoration: line-through;
    }
	.text{
		word-wrap: break-word;
		flex-grow: 1;
		color: black;
	}
	.box
	{
		margin-bottom:  5px;
		margin-right: 5px;
  		margin-left:  5px;
		align-items: center;
		display: flex;
	}
	.box:nth-child(even) {background: #888d8c}
	.box:nth-child(odd) {background: rgb(97, 97, 97)}
	.delete
	{
		height:40px;
		width:30px;
		line-height:40px;
		text-align:center;
		justify-content: space-between;
	}
	.text2
	{
		display:flex;
		justify-content: space-between;
		align-items:center;
		font-size:1.05em;
		height:auto;
		margin: 3px 0;
		margin-right:  5px;
		border-right: 1px solid black;
		padding-right: 5px;
		color: black;
	}
</style> 