<script>	
	import { list } from '../stores';
	function del() {
		// $list.pop();
		$list.pop()
		list.update(n => $list);
	}
</script>
<button class="button is-primary is-light" on:click={del}>
	-
</button>
