<script>
	import "bulma/css/bulma.css"
	import Comp1 from "./comps/TimeTable.svelte"
	import ToDO from "./comps/ToDoList/ToDo.svelte"
	import iniData from "./comps/stores.js";

	const array = [
		{ name: ToDO.name, component: ToDO},
		{ name: Comp1.name, component: Comp1},
		];
	let selected = 0;
	
	iniData();
	const Press=(index) =>{selected = index};
	let txt;
</script>

<!-- <div class="parent">
	<div class="top">	
		<div class="top_box">aDASd</div>
		<div class="top_box">fafsfasda</div>
	</div>
	<div class="center">
		<div class="center_box">
			<button class="button is-primary is-active" on:click={() =>Press(0)}>
				{array[0].name}
			</button>
			<button class="button is-primary is-active" on:click={() =>Press(1)}>{array[1].name}</button>
		</div>
		<div class="center_content">
			<svelte:component this={array[selected].component} name = {Comp1.number}/>
		</div>
	</div>
	<div class="top">
		<div class="top_box">fsas</div>
		<div class="top_box">123</div>
	</div>

</div> -->

	<!-- <div style="display: flex; height:100%">
		<div style="flex-grow:3;border:1px solid black">111 222</div>
		<div style="flex-grow: 1; border:1px solid blue">111 222</div>
	</div> -->	

<div class="main">
	<header>
		<div class="top">	
			<div class="top_box">aDASd</div>
			<div class="top_box">fafsfasda</div>
		</div>
   </header>
   <article>
	<svelte:component this={array[selected].component} name = {Comp1.number}/>
   </article>
   <aside>
	<div class="center_box">
		<button class="button is-primary is-active" on:click={() =>Press(0)}>
			{array[0].name}
		</button>
		<button class="button is-primary is-active" on:click={() =>Press(1)}>
			{array[1].name}</button>
	</div>
   </aside>
   <footer>
	 Footer
   </footer>
	
 </div>

<style>
.main {
    width: 100%;
    height: 100%;
    display: grid;
  grid-template-areas:
    'header header '
    'menu   content '
    'footer footer ';
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 5rem 1fr 3rem;
}
  @media (max-width: 600px) {
    .main{
    grid-template-areas:
      'header'
      'menu'
      'content'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto 1fr 3rem;
	margin: 5px;

  }
}

.main > * {

  padding: 1rem;
  border: 1px solid rgb(146, 33, 99);
}

header {
  grid-area: header;
}

article {
  grid-area: content;
  overflow-y: auto;
}

aside {
  grid-area: menu;
}

footer {
  grid-area: footer;
}
    .top
    {
		display: flex;
		flex-flow: row;
		box-sizing: border-box;
  		object-fit: cover;
		height: 100%;
    }
	.top_box
    {
		flex: 1 0 auto;
		text-align: center;
    }
	.center_box
    {
		
		display: flex;
		flex-flow: column;
		align-content: center;
  		height: 100%;
  		box-sizing: border-box;
  		object-fit: cover;
    }
	.button {
		flex: 1 0 auto;
		text-align: center;
		display: flex;
		justify-content: center;
  		margin-top:  2px;
		margin-bottom:  2px;
		} 
</style>